# Project specific ignores
*.data

# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
!src/user_interfaces/simple_html_chat_ui/assembly_support/**/*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Ignore the .env files which contain secrets
*.env

# Ignore the node packages
src/user_interfaces/simple_html_chat_ui/web_files/node_modules/

# Ignore build output folder
builds/